@import 'variables';

.login-container {
  display: flex;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .main-banner,
  .login-box {
    width: 50%;
  }
  .logo {
    position: absolute;
    top: -80px;
    width: 100%;
    text-align: center;
  }
  .main-banner {
    background: #fff url('../img/main_banner.png') no-repeat center / 90%;
  }
}
.login-box {
  display: flex;
  padding: 0 50px;
  justify-content: center;
  flex-direction: column;
  color: $txt-gray;
  background: $dark-gray;
  .title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 30px;
  }
  .desc {
    font-size: 15px;
    line-height: 1.3;
  }
  .btn-basic {
    margin-top: 80px;
  }
}
