@import 'variables';

.project-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  thead {
    background: $chart-gray;
    th {
      padding: 20px 0 20px;
      font-weight: 400;
      color: #fff;
    }
    th:first-child {
      width: 70%;
      font-weight: 500;
    }
  }
  tbody {
    .no-data {
      text-align: center;
      line-height: 1.5;
      font-size: 18px;
      color: $mid-gray;
      td {
        padding: 20px 0;
      }
    }
    td {
      padding: 5px 0 5px;
      background: #fff;
    }
    td:nth-child(2) {
      text-align: center;
      font-size: 15px;
    }
    tr:last-child td {
      border-bottom: 1px solid $bd-gray;
    }
    tr:nth-child(2n) td {
      background: $bg-gray;
    }
    tr:not(.no-data):hover {
      td {
        background: $hover;
      }
      &:hover td {
        transition: 0.2s;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 10px 30px;
      color: $dark-gray;
      &:focus {
        color: $dark-gray;
      }
    }
  }
}
