@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Noto+Sans+KR:400,500&display=swap');

body {
  background: $bg-gray;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
.btn-basic {
  padding: 12px;
  font-weight: 500;
  color: #fff;
  background: $blue;
  border: none;
  border-radius: 25px;
  &.sm {
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 400;
  }
}
.gnb {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background: $dark-gray;
  .gnb-wrap {
    display: flex;
    width: 1260px;
    margin: auto;
    padding: 0 30px;
    align-items: center;
  }
  .logo a {
    color: $txt-gray;
    font-size: 26px;
  }
  .btn-gnb {
    padding: 6px 20px;
    margin-left: auto;
    font-size: 13px;
    color: $txt-gray;
    background: none;
    border: 1px solid #999;
  }
}
.app-container {
  display: flex;
  width: 1260px;
  margin: auto;
  padding: 30px;
  padding-top: 90px;
}
.app-profile {
  background: #fff;
  width: 250px;
  height: 255px;
  margin-right: 15px;
  padding: 30px;
  text-align: center;
  .img-box {
    background: $bg-gray;
    width: 100%;
    height: 160px;
    border-radius: 20px;
  }
  .user-name {
    margin-top: 15px;
    color: $dark-gray;
  }
}
.app-content {
  flex: 1;
  padding: 28px 30px 50px;
  background: #fff;
  .btn-basic {
    margin-left: auto;
  }
}
.content-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $bd-gray;
}
.content-title {
  font-size: 24px;
}
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #120730;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  min-height: 320px;
  padding: 50px 50px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: #fff;
  .btn-basic {
    margin-top: auto;
  }
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: $dark-gray;
  border: none;
  background: none;
}
.label-basic {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.label-info {
  display: block;
  padding: 8px 5px 0;
  font-size: 14px;
  color: #666;
  &.txt-red {
    color: $orange;
  }
  &.txt-red:before {
    background: $orange;
  }
}
.label-info:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 7px;
  margin-bottom: 3px;
  border-radius: 50%;
  background: $green;
}
.input-basic {
  width: 100%;
  padding: 6px 20px;
  font-size: 20px;
  border: 1px solid $bd-gray;
}
.pagination {
  margin-top: 30px;
  text-align: center;
  .btn-page {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid $bd-gray;
    color: $dark-gray;
    background: none;
    border-radius: 5px;
    transition: 0.2s;
    &:last-child {
      margin-left: 10px;
    }
    &.disabled {
      color: $mid-gray;
      background: $bg-gray;
    }
  }
}
