$pink: #b7414f;
$purple: #7f3b5a;
$red: #fc5759;
$green: #a8dbd4;
$dark-blue: #0b2333;
$chart-blue: #113856;
$bg-gray: #f5f5ed;
$bd-gray: #ddd;
$mid-gray: #1b4660;
$dark-mint: #568a97;
$mint01: #a8dbd4;
$mint02: #a9d0c9;
$light-orange: #f3a88e;
$bg-disable: #ccdee1;
