$orange: #d76a2f;
$pink: #b66464;
$blue: #425cbb;
$light-blue: #637ee3;
$green: #64b671;
$dark-gray: #232323;
$chart-gray: #575757;
$bg-gray: #f4f4f4;
$txt-gray: #f5f5f5;
$bd-gray: #ddd;
$mid-gray: #9d9c9c;
